<ion-view>
	<ion-nav-title>
	 <img src="img/favicon.ico">
	 Rock Art Tour Guide
	</ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="location in locations" class="padding-4">
        <a href="#/app/locations/{{location.location_id}}" class="blocklink">
      	  <img class="item-image backpics" ng-src="{{location.location_banner_url}}" alt="Background picture">
          <div class="title"><p>{{location.location_name}}</p></div>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
