.bar-stable.bar.bar-header {
	background-color: #cf3435;
}

.button.button-icon.button-clear.ion-navicon {
	color: white;
}

.ng-binding {
	font: 1rem "Myriad Pro", sans-serif;
}

.title.title-left.header-item {
	color: white;
}

