.bar-stable.bar.bar-header {
	background-color: #cf3435;
}

.button.button-icon.button-clear.ion-navicon {
	color: white;
}

.ng-binding {
	font: 1rem "Myriad Pro", sans-serif;
}

.title.title-left.header-item {
	color: white;
}

.item .item-image {
	position: relative;
	width: 100%;
	text-align: left;
}

.item-complex .item-content, .item-radio .item-content {
	padding: 0;
}

p {
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
	background-color: white;
}

