.bar-stable.bar.bar-header {
	background-color: #cf3435;
}

.button.button-icon.button-clear.ion-navicon {
	color: white;
}

.ng-binding {
	font: 1rem "Myriad Pro", sans-serif;
}

.title.title-left.header-item {
	color: white;
}

.backpics {
	position: relative;
	width: 100%;
	text-align: left;
	border-radius: 5px;
	z-index: -1;
}

.item-complex .item-content, .item-radio .item-content {
	padding: 2px;
}

.title p {
	position: absolute;
	bottom: 5px;
	background-color: white;	
	padding: 2px 10px;
	left: 5px;
	border-radius: 5px;
}

.menu-icon{
	font-size: 120%;
	padding-right: 10px;
	padding-left: 10px;
}

a.item-content {
	font-size: 120%;
}

.bar.bar-stable .title {
	color: white;
}

#menu {
	padding-bottom: 5px;
	padding-top: 5px;
}

a[href]:hover {
	color: #cf3435;
}

.map {
	width: 100%; 
	height: 100%;
	background-size: cover; 
	-moz-background-size: cover;
}

